<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://localhost;database=MusalaSoft</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">1234</property>
        <property name="show_sql">true</property>
        <mapping class="OnlineStore.Currencies"/>
        <mapping class="OnlineStore.Customers"/>
        <mapping class="OnlineStore.DeliveryType"/>
        <mapping class="OnlineStore.OrderDetails"/>
        <mapping class="OnlineStore.Orders"/>
        <mapping class="OnlineStore.PaymentType"/>
        <mapping class="OnlineStore.ProductType"/>
        <mapping class="OnlineStore.Products"/>
        <!--<mapping class="OnlineStore.ProductsProductTypes"/>-->
        <mapping class="OnlineStore.Vendors"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>